/* inspired by petabyteboy (git.petabyte.dev/petabyteboy/nixfiles) */

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 12px;
}

window {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    color: #fff;
}
#workspaces {
    padding-right: 15px;
}

#workspaces button {
    transition: none;
    padding: 0 5px;
    background: rgba(255, 255, 255, .2);
    color: #fff;
}

#workspaces button.icon label {
    font-size: 10px;
}

#workspaces button.focused {
    color: #333;
    background: #fff;
}

window>*>*>*>label {
    margin: 0 7px;
    padding: 5px;
    background-color: rgba(255, 255, 255, .2);
}

#tray {
    margin-left: 10px;
}

#pulseaudio.muted {
    color: #ffbb00
}
#network.disconnected,
#battery:not(.charging).warning,
#temperature.critical {
    background: #ffbb00;
    color: black;
}
#battery:not(.charging).critical {
    background: #c50014;
    color: white;
}

#battery.charging {
    background: #2a7230;
}
